@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h1>
        Welcome to the First MVC from a clean application setup
    </h1>

    <p>
        In the futher, tutorials we are going to cover the architectural developments
        <br />
        We will be focusing on the <strong>Mediator</strong> along with <strong>CQRS</strong>
        <br />
        with <strong>Repository Pattern</strong>
    </p>
</div>